@import '../../styles/vars';

$progress-size: 20px;
$button-icon-size: 16px;
$service-input-margin: 5px;

.service-header-container {
    display: flex;
    align-items: flex-start;
}

.service-success-icon {
    margin-right: 10px;
    color: $color-secondary;
}

.service-fail-icon {
    margin-right: 10px;
    color: $color-error;
}

.service-progress {
    margin-left: 2px;
    margin-right: 12px;
    margin-top: 4px;
    width: $progress-size !important;
    height: $progress-size !important;
}

.service-desctiption {
    margin-left: 5px;
}

.service-name {
    margin-top: 3px;
}

.service-opacity {
    opacity: 0.2;
}