@import '../../styles/vars';

$task-handler-padding: 3px;
$task-progress-size: 12px;

.task-header {
    display: flex;
    align-items: flex-start;
}

.task-handler {
    border: 1px solid $color-secondary;
    border-radius: $border-radius;
    padding-left: $task-handler-padding;
    padding-right: $task-handler-padding;
}

.task-header-name {
    display: flex;
    margin-top: 4px;
}

.task-icon {
    color: $color-secondary;
}

.task-icon-success {
    color: $color-primary;
}

.task-icon-fail {
    color: $color-error;
}

.task-icon-outlined {
    color: $color-background;
}

.task-icon-done {
    position: absolute;
    left: 14px;
    top: 6px;
    width: 14px !important;
}

.task-indent-left {
    margin-left: 10px;
}

.task-indent-right {
    position: relative;
    margin-right: 10px;
}
