// Colors
$color-primary: #ffffff;
$color-secondary: #848d97;
$color-error: #c34b4f;
$color-component: #010409;
$color-background: #0d1016;

$input-height: 30px;
$border-radius: 7px;

$tab_bar_width: 150px;
$tab_bar_height: 50px;

$icon-margin-right: 10px;
