@import '../../styles/vars';

.text-base {
    font-size: 12px !important;
    color: $color-primary;
    white-space: pre-wrap;
}

.text-hidden {
    overflow-wrap: anywhere;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.text-oneline {
    -webkit-line-clamp: 1;
}

.text-secondary {
    color: $color-secondary;
}

.text-fail {
    color: $color-error;
}

.text-large {
    font-size: 16px !important;
}
