@import '../../styles/vars';

.signup-button {
    color: $color-primary !important;
    border: 1px solid $color-secondary !important;
    border-radius: $border-radius !important;
    padding: 4px !important;
    margin-right: 5px !important;
}

.signup-button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.signup-text-field {
    height: 30px;
}

.MuiInputBase-input {
    padding: 0 !important;
}
