@import '../../styles/vars';

$nav-bar-progress-size: 20px;

.nav-bar {
    background-color: $color-component !important;
    justify-content: center;
    height: $tab_bar_height;
}

.nav-bar-desktop {
    left: $tab_bar_width !important;
    width: auto !important;
}

.nav-bar-title {
    display: flex;
    flex-grow: 1;
}

.nav-bar-button-right {
    margin-left: 10px;
}

.nav-bar-page {
    margin-top: $tab_bar_height;
}

.nav-bar-page-content {
    display: flex;
    justify-content: center;
}

.nav-bar-content {
    margin: 10px;
	width: 100%;
    max-width: 700px;
}

.nav-bar-progress {
    width: $nav-bar-progress-size !important;
    height: $nav-bar-progress-size !important;
    margin-right: 14px;
}

.nav-bar-progess-margin-right {
    margin-right: 10px;
}
